.header-center.special {
    max-width: 1400px;
    margin: auto;
}

element.style {
}
.header-center.special {
    max-width: 1400px;
    margin: auto;
}
.header-center {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: 1350px;
    max-width: 100%;
    height: 50px;
    margin: 0 0;
    background-size: contain;
}
.header-center.special .menu-location {
    margin: 0;
}
.menu-location {
    float: left;
    margin-left: 10px;
    font-size: 0;
}
.header-center.special .user-do {
    padding-right: 0;
}
.user-do {
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 37px;
}
.padding-block .location-item {
    height: 30px;
    margin: 10px 5px;
    font-size: 18px;
    line-height: 30px;
    background-color: transparent;
    border-bottom: none;
    border-radius: 2px;
    border-radius: 15px;
}
.location-item {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0 16px;
    color: #333;
    font-size: 20px;
    line-height: 47px;
    vertical-align: top;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.header {
    position: relative;
    z-index: 101;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 5px 0;
    background-color: rgba(255,255,255,0.98);
    border-bottom: 1px solid #e2e1e2;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.09);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.09);
}
.header-center.special .menu-location .logo {
    margin-left: 0;
}
.header-center .logo {
    float: left;
    width: 144px;
    height: 50px;
    margin: 0 30px 0 40px;
    background: url(//cc.res.netease.com/_next/static/images/common/logo-2.0667.png) no-repeat;
}
.search.search {
    position: relative;
    margin-top: 7px;
    padding: 0 9px 0 13px;
    width: 166px;
    height: 34px;
    background-color: #ecebeb;
    border: 1px solid #ecebeb;
    border-radius: 17px;
    line-height: 34px;
    font-size: 14px;
    color: #999999;
}
.user-do-item {
    position: relative;
    float: left;
    margin: 0 10px;
    color: #666;
    line-height: 50px;
    cursor: pointer;
}
.search-text {
    outline: 0;
    border: 0;
    float: left;
    padding: 0;
    margin: 0;
    width: 140px;
    height: 34px;
    line-height: 34px;
    background: transparent;
}
.user-do .search input[type="text" i] {
    padding: 1px 2px;
}

.user-do-item .def-font {
    font-size: 20px;
}
.user-do .search .search-btn {
    float: right;
    width: 20px;
    height: 28px;
    background-position: 50% 0;
    background-repeat: no-repeat;
}
.def-font {
    font-family: 'icomoon';
    font-size: 16px;
    font-family: 'icomoon' !important;
}
.user-do .search span:before{
    content: url("image/search.png")
}
.user-do .search span {
    display: inline-block;
    vertical-align: top;
}
.block-container {
    display: -webkit-box;
    width: 1000px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;

}
.block-container .block-item {
    padding: 24px 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #e8e8e8;
    border-bottom: 1px solid var(--black06);
}
.block-container .block-item .block-item-wrapper {
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
}
.label {
    -webkit-box-flex: 0;
    flex: none;
    width: 142px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.label1 {
    -webkit-box-flex: 0;
    flex: none;
    width: 700px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.content {
    -webkit-box-flex: 1;
    flex: 1;
    color: #666;
    color: var(--black02);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    word-break: break-all;
}
.input{
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px 14px;
    width: 620px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}
.input1{
    outline-style: none ;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px 14px;
    width: 55px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
    align-items: center;
    background-color: #fff;
}

.block-item-wrapper {
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
}
byte-spin {
    display: inline-block;
}
.byte-spin .byte-spin-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
.byte-spin .byte-spin-container .byte-spin-content {
    position: relative;
}
.avatar-wrapper {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border: 1px solid var(--black05);
}
.m-avataruploader-imagewrapper.active {
    cursor: pointer;
}
.m-avataruploader-imagewrapper {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.m-avataruploader-imagewrapper.active:before {
    display: inline-block;
}
.m-avataruploader-imagewrapper:before {
    content: "更换头像";
    position: absolute;
    width: 100%;
    height: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,.5);
    color: #fff;
    line-height: 24px;
    font-size: 12px;
}
.avatar-item .avatar-wrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.m-avataruploader-imagewrapper .imagewrapper-image-url {
    display: inline-block;
    width: 100%;
    height: 100%;
}
img {
    border-style: none;
}
.m-avataruploader-imagewrapper .imagewrapper-image-op {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    z-index: 1;
}
.m-avataruploader-imagewrapper .imagewrapper-image-op .upload-handler {
    width: 80px;
    height: 80px;
}
.upload-handler {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.upload-handler input[type=file] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.garr-container a, .garr-container input, .garr-container textarea {
    outline: 0;
}
.garr-container a, .garr-container input, .garr-container textarea {
    outline: 0;
}
input[type=file] {
    display: block;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
}
* {
    outline: none;
}
* {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
input[type="file" i] {
    appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden;
}
user agent stylesheet
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.onload {
opacity: 0;
}
.crop button{
 background-color: #189094;
 color: white;
 padding: 10px 15px;
 border-radius: 3px;
 border: 1px solid rgba(255, 255, 255, 0.5);
 font-size: 16px;
 cursor: pointer;
 text-decoration: none;
 text-shadow: none;
}
.crop button:focus {
 outline: 0;
}

.file-btn {
 position: relative;
}
.close input[type="file"] {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.actions {
 padding: 5px 50%;
}

.upload-result{
position:relative;
margin-left: 50%;
transform: translate(-50%,-120px);
}
.crop{
width: 300px;
height: 400px;
position:absolute;
top: 400px;
left: 50%;
transform: translate(-50%,-50%);
z-index:10;
display:none;
border: 0.5px solid rgba(128,118,105,0.3);
border-radius: 3px;
}
.close{
position: absolute;
right: 10px;
top: 10px;
z-index: 100;
cursor: pointer;
}
#upload-demo{
margin-top: 40px;
}