<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/enroll.css">
    <link rel="SHORTCUT ICON" href="//cc.res.netease.com/act/webcc/favicon/favicon.ico">
    <script src="../static/jquery.min.js"></script>
     <script src="https://cdn.bootcdn.net/ajax/libs/croppie/2.6.5/croppie.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/croppie/2.6.5/croppie.css" rel="stylesheet">
    <script>
$(function(){
 var $uploadCrop;

  function readFile(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
     $uploadCrop.croppie('bind', {
      url: e.target.result
     });
    }

    reader.readAsDataURL(input.files[0]);
   }
   else {
    alert("请选择一张图片上传");
   }
  }

  $uploadCrop = $('#upload-demo').croppie({
   viewport: {
    width: 80,
    height: 80,
    type: 'circle'
   },
   boundary: {
    width: 180,
    height: 180
   }
  });

  $('#upload').on('change', function () {
   $(".crop").show();
   readFile(this);
  });
  $('.upload-result').on('click', function (ev) {
   $uploadCrop.croppie('result', 'canvas').then(function (resp) {
    popupResult({
     src: resp
    });
   });
  });

 function popupResult(result) {
  var html;
  if (result.html) {
   html = result.html;
  }
  if (result.src) {
   html = '<img src="' + result.src + '" />';
  }
  $(".cover").html(html);
 }


$('.upload').click(function(){
$('.crop').fadeIn();
});
$('.upload-result').click(function(){
$('.crop').fadeOut();
});
$('.close').click(function(){
$('.crop').fadeOut();
});

var fileInput = document.getElementById("upload");
fileInput.addEventListener('change', function(){
if(fileInput.files[0] == undefined){
return;
}
var phone = document.getElementById("phone").value;
var file = fileInput.files[0];
var reader = new FileReader();
reader.readAsDataURL(file);
reader.onload = function(e){
$.post('/enroll',{img: e.target.result,phone:phone});
console.log(this.result);
}
});


});


</script>
</head>
<body>
<div class="header">
<div class="header-center padding-block special">
    <div class="menu-location">
        <a href="#" class="logo"></a>
        <a href="{{ url_for('main.login') }}" class="location-item">登录</a>
        <a href="{{ url_for('main.register') }}" class="location-item">注册</a>
        <a href="{{ url_for('main.rank') }}" class="location-item">排行</a>
        <a href="{{ url_for('main.enroll') }}" class="location-item">报名</a>
    </div>
    <div class="user-do">
        <div class="search user-do-item" id="searchBoss">
            <input type="text" placeholder="搜索主播ID" class="search-text js-search-text" maxlength="30">
            <span class="search-btn js-search-btn def-font searcher">
            </span>
        </div>
    <div>
</div>
</div>
<div class="block-container">
<form method="post">
    <div class="block-item">
        <div class="block-item-wrapper">
            <div class="label">昵称</div>
            <div class="content">
                <div>
                    <input class="input" type="text" name="nickname" placeholder="输入框默认内容">
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="block-item-wrapper">
            <div class="label">名字</div>
            <div class="content">
                <div>
                    <input class="input" type="text" name="name" placeholder="输入框默认内容">
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="block-item-wrapper">
            <div class="label">电话</div>
            <div class="content">
                <div>
                    <input class="input" id="phone" type="text" name="phone" placeholder="输入框默认内容">
                </div>
            </div>
        </div>
    </div>

    <div class="block-item">
        <div class="block-item-wrapper">
            <div class="label">头像</div>
            <div class="content">
                <div class="byte-spin">
                  <div class="byte-spin-container">
                    <div class="byte-spin-content">
                        <div style="display:flex; align-items:center">
                            <div class="avatar-wrapper" id="wrap">
                                <div class="m-avataruploader-imagewrapper active" tabindex="0">
                                    <!--                                    ::before-->
                                    <div class="cover">    <img id="result" class="imagewrapper-image-url"  src="../static/image/head.jpeg"></div>
                                    <div class="imagewrapper-image-op">
                                        <div class="upload-handler">
                                            <input id="upload" class="input"  type="file" name="photo" accept="image/*" title>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-item">
        <div class="block-item-wrapper">
            <div class="label1"></div>
            <div class="content">
                <div>
                    <input class="input1" type="submit" id="submit" value="确认">
                </div>
            </div>
        </div>
    </div>
</form>
</div>
    <div class="actions">

 <div class="crop">
     <span class="close"><img src="../static/image/close.png"> </span>
  <div id="upload-demo"></div>
     <button class="upload-result">裁剪</button>

 </div>
</div>
</body>
</html>